- Name:
- Student ID:

**Put a cross "x" in the checkbox**
- [ ] *Honor Pledge: I certify that this exam is taken by the person named and done without any form of assistance from other students and/or persons.*

**Problem X (2 tasks) (XX pts)**

Task 1:

In [8]:
# Setup code

import pandas as pd
pd.options.display.max_rows = 21


# Write down your code for task 1

<hr>
 
Task 2:

In [9]:
# Write down your code for task 2

The layout of `price` should look like the following:

<div>
<style scoped="">
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Date</th>
      <th>Symbol</th>
      <th>Open</th>
      <th>Close</th>
      <th>Adj Close</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2015-04-29</td>
      <td>AMZN</td>
      <td>426.750000</td>
      <td>429.369995</td>
      <td>429.369995</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2015-04-29</td>
      <td>APPL</td>
      <td>130.160004</td>
      <td>128.639999</td>
      <td>119.931686</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2015-04-29</td>
      <td>FB</td>
      <td>80.010002</td>
      <td>80.470001</td>
      <td>80.470001</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2015-04-29</td>
      <td>GOOG</td>
      <td>550.469971</td>
      <td>549.080017</td>
      <td>549.080017</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2015-04-29</td>
      <td>NFLX</td>
      <td>80.070000</td>
      <td>80.407143</td>
      <td>80.407143</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>5287</th>
      <td>2018-04-27</td>
      <td>FB</td>
      <td>176.809998</td>
      <td>173.589996</td>
      <td>173.589996</td>
    </tr>
    <tr>
      <th>5288</th>
      <td>2018-04-27</td>
      <td>GOOG</td>
      <td>1046.000000</td>
      <td>1030.050049</td>
      <td>1030.050049</td>
    </tr>
    <tr>
      <th>5289</th>
      <td>2018-04-27</td>
      <td>NFLX</td>
      <td>316.250000</td>
      <td>311.760010</td>
      <td>311.760010</td>
    </tr>
    <tr>
      <th>5290</th>
      <td>2018-04-27</td>
      <td>SBUX</td>
      <td>58.070000</td>
      <td>58.360001</td>
      <td>57.049385</td>
    </tr>
    <tr>
      <th>5291</th>
      <td>2018-04-27</td>
      <td>TSLA</td>
      <td>285.369995</td>
      <td>294.079987</td>
      <td>294.079987</td>
    </tr>
  </tbody>
</table>
<p>5292 rows Ã— 5 columns</p>
</div>