In [1]:
from IPython.core.display import HTML
HTML(open("pynotes.css" , "r").read())

# Let's see what Python can do first

An example of Chinese character recognition:



 <img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/zen_ch.png" width="250" />
 
 
A translation of an excerpt from the <a href="https://www.python.org/dev/peps/pep-0020/"> Zen of Python</a>.

In English, it means:

> Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.

In [ ]:
# copyright material. You won't be able to run this chunk of code. Please just watch for now 

import requests
from aip import AipOcr

image = requests.get('https://res.pandateacher.com/python_classic.png').content

APP_ID = '16149264'
API_KEY = 'yxYg9r4OuAs4fYvfcl8tqCYd'
SECRET_KEY = 'yWg3KMds2muFsWs7MBSSFcgMQl8Wng4s'
client = AipOcr(APP_ID, API_KEY, SECRET_KEY)
res = client.basicGeneral(image)

if 'words_result' in res.keys():
    for item in res['words_result']:
        print(item['words'])
else:
    print(res)



At their base, programs written in Python are composed of **expressions**, which are "phrases" of code Python ***evaluates to produce values***. 

- Expressions often contains **operators**, a set of special symbols that carry out computations. 

---

# Using Python as a Calculator




 

The **arithmetic operators** `+`, `-`, `*`, `/`, and `**` perform addition, subtraction, multiplication, division, and exponentiation:

In [50]:
1.2 + 2 + 2.8

6.0

In [ ]:
5 * 2

In [51]:
5 ** 2  # 5 squared

25

<div class="alert alert-info">
 In computer science, a literal is a notation for representing a fixed value in source code.</div>

Parentheses (`()`) can be used for grouping:

In [ ]:
(15 - 10) * 2 / 5

Some common **arithmetic operators** include:

| Operator | Meaning |
|----|---|
| **  | Exponetiation |
| *  | multiplication |
| /  | division |
| // | integer division |
| %  | remainder |
| +  | Addition |
| -  | Subtraction |

The order indicates the relative levels of precedence (ordered by descending priority).

The `//` operator performs **integer or floored division** that keeps only the integer part of the result, while the `%` operator calculates the remainder:

In [52]:
17 / 3   # always return a result with a fractional part

5.666666666666667

In [53]:
17 // 3  # discard the fractional part

5

In [54]:
17 % 3   # return the remainder of the division

2

---
# Comparing Values

**Comparison (relational) operators** are used to compare values on both sides of them. It returns either of the two **Boolean** values, `True` and `False`.

In [57]:
2 <= 5

True

In [ ]:
# chained in the mathematically obvious way
# it can only be written as 2 < 5 and 5 <= 5.0 in other languages
2 < 5 <= 5.0

The table summarizes comparision operators:

| Operator | Meaning |
|----|---|
| == | Equal to - `True` if both operands are equal |
| !=  | Not equal to - `True` if operands are not equal |
| < | Less than - `True` if left operand is less than the right |
| > | Greater than - `True` if left operand is greater than the right |
| <=  | Less than or equal to - `True` if left operand is less than or equal to the right |
| >=  | Greater than or equal to - `True` if left operand is greater than or equal to the right |

----

# Logical Operators

**Logical (Boolean) operators** `and`, `or` and `not` perform Boolean logic upon two Boolean values and return a Boolean result (`True` or `False`).

In [ ]:
not True               # only require one operand

In [ ]:
True and False

In [ ]:
False or True

In [ ]:
2 < 5 and not False

In [ ]:
2 < 5 and 5 < 5.0 or 5 < 1024

Logical operators in Python are summarized as follows. The order indicates the relative levels of precedence (ordered by descending priority):


|Operator|Meaning|
|:-- |:-- |
|not|True if operand is false (complements the operand)|
|and|True if both the operands are true|
|or|True if either of the operands is true|

## Short-Circuit Evaluation

In [ ]:
1 / 0

ZeroDivisionError: division by zero

But when it is combined into a compound expression using `and` or `or`:

In [ ]:
1024 < 5 and 1 / 0

In [ ]:
1024 >= 5 or 1 / 0

It implies that Python does not bother to evaluate additional subexpressions when it is sufficient to determine the value of the whole expression.

The operators and and or are called <font color='salmon'><b>***short-circuit***</b></font> or <font color='salmon'><b>***shortcut***</b></font> operators.

1. `or` only evaluates the second argument if the first one is false.

2. `and` only evaluates the second argument if the first one is true.

## Truthy and Falsy Values


Expressions that output non-Boolean values can be evaluated in a Boolean expression as well and determined to be true or false:

In [ ]:
1 and True        # 1 is interpreted as true

In [ ]:
0 and False       # 0 is interpreted as false; shortcut evaluation also takes place

In [ ]:
17 / 5 or False

In [ ]:
not -0.0001

Numbers are false if zero, and true otherwise.

---
# Objects and Their Types

 <img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/memory.png" width="250" /> 

Everything in Python is an object, and every object has  an **identity**, a **value**, and a **type**.

The built-in function `type()` returns an object's type:

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
type(5**2)

In [ ]:
type(21231)

In [ ]:
type(2.0)     # with a decimal point

In [ ]:
type(3.8e15)  # with an exponent; base 10

In [ ]:
15 / 5

In [ ]:
type(15 / 5)

In [ ]:
type(17 // 3)

In [ ]:
type(17 % 3)

In [ ]:
type(17.2 % 3)





 
 In a computer's memory, everything is **bits**:
 
  <img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/code.jpg" width="450" /> 
  
  
What a type does is two things:

- First, it tells a program, you should be reading these sequences in chunks of, let's say, 32 bits.

- Second, it tells what a sequence of bits represent.
   - Does `11101000 10110010 10010011` represent "貓" or 15250067?




An object's  **type** determines:

- A domain of possible values, e.g.:

    - `True` and `False` have type `bool` (short for Boolean values);
    - The integer numbers (e.g., `1`, `2`, `-34`, `1024`) have type `int`;
    - The numbers with a decimal point or an exponent (or both) (e.g., `2.0`, `3.2`, `.3`, `3.8e15`) have type `float` (short for floating-point numbers).
    
- A set of possible operations that can be performed on these values (e.g., common integer arithmetic operations are `+`, `-`, `*`, and `/`).

---

## Optional: Floating-Point Arithmetic Issues


<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/Float_example.svg" />

Floating-point numbers are represented in computers as base 2 (binary) fractions. E.g., despite in different notations, the decimal fraction 0.125 is identical the binary fraction 0.001, because

$0.001 \: (base\:2) = 0 \times 2^{-1} + 0 \times 2^{-2} + 1 \times 2^{-3} = 0.125 \:(base\:10)$

As decimal numbers cannot accurately represent a number like $\frac{1}{3}$, a binary floating-point format cannot accurately represent a number like 0.1, 0.2 or 0.3.

E.g., in base 2, $\frac{1}{10}$ is the infinitely repeating fraction:

`0.0001100110011001100110011001100110011001100110011...`

Calculation is performed with the rounded numbers, resulting in small   **rounding errors**.

In [ ]:
0.1 + 0.4 == 0.5

In [ ]:
0.1 + 0.2 == 0.3

---
# Variables

One of the most powerful features of a programming language is the ability to manipulate **variables**. In Python, a variable is a name that refers to an object.

Using the equal sign (`=`), an assignment statement defines a variable by

- Evaluating the expression on the right of `=` to construct a new or retrieve an existing object;

- Binding a name on the left of `=` to the object.

In [48]:
width = 10


<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/var1.png" width=120 />

In [75]:
height = 12

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/var2.png" width=120 />

When we enter a name in Python, it gives us back the object bound to it:

In [74]:
width

10

In [76]:
height

12

In [77]:
area = width * height

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/expr1.png" width=300/>

In [78]:
area

120

In [79]:
width = width + 5

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/expr2.png" width=185></img>

In [80]:
width

15

---

## Compound/Augmented Assignment Operators

`width = width + 5` exemplifies a very common operation. Python provides a shorthand operator, `+=`, to express it more cleanly.

In [ ]:
width += 5

In [ ]:
width = width + 5

In [ ]:
width += 5
width

Similar operators (**compound**/**augmented assignment operators**) include `-=`, `*=`,  `%=`, and so on:

In [ ]:
width /= 5; width

Multiple names can be bound to the same object:

In [45]:
i = 5
j = i


<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/ij.png" width="100"/></img>

**<font color='steelblue' > Question </font>**: What is the value of `j` after evaluating `i += 7`?

---

## Naming Conventions

Python has some rules to follow when forming a variable name:

- Can contain both letters (uppercase or lowercase), digits (but cannot start with a number), and the underscore character (_).


- Python's keywords (`if`, `else`, `for`, `in`, etc. as we'll see later) cannot be used as variable names, because the Python interpreter uses them to recognize the structure of the program.

In [2]:
if = 'ISOM3400'

SyntaxError: invalid syntax (<ipython-input-2-d2751225de96>, line 1)

A good coding style requires a variable name to be  ***descriptive***  and  ***mnemonic***.

----
# Functions

> Programming = Data + Function

A function is a machine which turns input objects (called the **arguments**) into an output object (called the **return value**), according to a definite rule (defined somewhere for this function).



We can  draw an analogy of a programming function to a mathematical function. 



Consider $f(a,b)=a^2+b^2$:

- A function definition usually associates a name (i.e., $f$) with a sequence of statements that performs a computation (i.e., $a^2+b^2$).

- Once a function is defined, we can "call" it by name with necessary inputs provided (i.e., $f(3,5)$).

- When a function is called or invoked, Python goes back and looks up its definition, executes the code inside the function definition (i.e., $3^2+5^2$), and return an output (i.e., $34$).

Python provides a number of [built-in functions](https://docs.python.org/3/library/functions.html) that we can use without needs to provide their definitions as well as import an external module:

In [7]:
abs(-5.11)

5.11

In [45]:
round(4.55892, 2)

4.56

In [ ]:
max(1, 2, 3, 4, 5)

In [ ]:
min(1, 2, 3, 4, 5)

In [ ]:
pow(2, 3) # 2**3

In [9]:
divmod(9, 2)

(4, 1)

Typing a function's name without `()` echos "the value" or more precisely the  **string representation**  of the function:

In [10]:
max

If the usage of a function is unknown, we can call `help()` to print help for the function:

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

---
# Strings

Besides numbers and Booleans, Python can also manipulate strings, which are sequences of characters.

Strings are constructed by enclosing string literals in single quotes (`'`) or double quotes (`"`):

In [12]:
'Welcome to Python Programming'

'Welcome to Python Programming'

In [13]:
"Welcome to Python Programming"

'Welcome to Python Programming'

In [14]:
"Welcome to Python Programming'

SyntaxError: EOL while scanning string literal (<ipython-input-14-377577e54e29>, line 1)

 Single quoted strings can contain double quotes, and vice versa

In [ ]:
"Programming isn't hard."

In [ ]:
'"Yes", they said.'

What if we have to use single (double) quotes literally in a single(double)-quoted string? Escape their special behaviors with backslashes (`\`):

In [72]:
print('"No, it isn\'t", they said')

"No, it isn't", they said

In [48]:
'Python Programming 
for Business Analytics'

SyntaxError: EOL while scanning string literal (<ipython-input-48-802ecafc2385>, line 1)

When we press the <kbd class="">Enter</kbd> key, a **newline character** (`\n`) is generated to signify the end of a line. Typically, Python uses newlines to delineate statements. 

We can make a string literal span multiple lines by including a backslash character `\` at the end of each line to escape the newline (`\n`):

In [16]:
'Python Programming \
for Business Analytics'

'Python Programming for Business Analytics'

String literals inside triple quotes, `"""` or `'''`, can span multiple lines of text. Newlines (`\n`) are automatically included in the string literal.

In [49]:
'''Python Programming
for Business Analytics'''

'Python Programming\nfor Business Analytics'

`print()` is used to display the actual string represented by a string literal:

In [ ]:
print('ISOM3400\nPython Programming\nfor Business Analytics')

## Escape Sequences

An **escape sequence** (of characters) can be used to denote a special character which cannot be typed easily on a keyboard or one which has been reserved for other purposes.

Some common escape sequences include:

|Sequence|Meaning|
|:-- |:-- |
|`\\`|literal backslash|
|`\'`|single quote|
|`\"`|double quote|
|`\t`|tab|
|`\n`|newline|

In [19]:
print("python\tprogramming")

python	programming

**<font color='steelblue' > Question </font>**: How to print the following using escape sequences:

`I don't think "a" is equal to "A" in 'Python'`

## Accepting User Inputs

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/hci.png" width=400 />

Programs often need to obtain data from the user, usually by way of input from the keyboard. The simplest way to accomplish this in Python is with `input()`.

`input(prompt)` prompts for and returns input as a string.

In [ ]:
input("What is your name?")

In [ ]:
input("What is your age?")

We can assign what is returned into a variable, to be used later.

In [ ]:
name = input("What is your name?")
age =  input("What is your age?")      
gender = input("What is your gender?")

To display the contents of these variables, pass them as a comma-separated list of argument to `print()`. By default, `print()` separates the content of each argument by a single space and appends a newline to the end of the output:

In [ ]:
print(name, 'is', gender, 'at', age, 'years old.')

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(name, 'is', gender, sep='-', end='a')
print('at', age, 'years old.', sep='-')

## String Operations

In Python, strings have type `str`, which is a special kind of **sequence types** (later). String objects support several operations and built-in functions.

- The operators `+` and `*` works with strings:

In [2]:
course = 'Python Programming'

In [27]:
course + ' for Business Analtytics'

'Python Programming for Business Analtytics'

In [59]:
course * 3

'Python ProgrammingPython ProgrammingPython Programming'

- `-` and `/`, however, are incompatible with the `str` type:

In [3]:
course - 'Programming'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

- The  **membership operators** `in` and `not in` take two strings and return `True` if the first appears as a substring in the second:

In [ ]:
'nan' in 'banana'

In [ ]:
'p' not in 'Python Programming'


-  The **comparison operators** (e.g., `==`, `>`, `<=`) compare strings ***lexigraphically***, the way in which strings are ordered based on the **alphabetical order** of their component characters:

   - In alphabetical ordering, digits come before letters and capital letters come before lowercase letters.
     - i.e., digits (as characters) < uppercase letters < lowercase letters.
   - Compare the leftmost characters first, and generate `True` or `False` if their values differ, or continue until a difference is observed.

In [61]:
'Python Programming' == 'python programming'

False

In [62]:
'Python Programming' < 'python programming'

True

In [63]:
'python programming' < 'python cookbook'

False

In [32]:
'9999' < 'A'

True

- `len()` returns the number of characters in a string:

In [34]:
course

'Python Programming'

In [ ]:
len(course)

In [ ]:
len(1024)

TypeError: ignored

## String Indexing

A string is a sequence of characters, and is reducible to the component characters.

The characters in a string are indexed by integers (representing positions in the sequence), and can be individually accessed by using the indexing operator (`[]` that encloses an integer).

The index set contains the integers 0, 1, …, and `len()-1` (**0-based indexing**).

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/indexing.PNG" width=600></img>

In [ ]:
course[2]

In [ ]:
'Hello'[1]

Strings can also be  <font color="salmon">***back indexed***</font> using negative integers. Negative indexing counts backward from the end of a sequence and starts from `-1`.
- i.e., `-1` refers to the last character, `-2` the second-to-last character, and so on

In [ ]:
course[- 3 * 6]

Out of range indexing will incur an error:

In [ ]:
course[18]

IndexError: ignored

---

## String Slicing

Slicing is an operation that extracts a segment of a string (called a slice).

The slicing operator `[i:j]` returns the part of the sequence from the element indexed by `i` to the element indexed by `j`, including the first but excluding the last:

In [36]:
course

'Python Programming'

In [ ]:
course[0:6]

In [ ]:
course[-18:-12]

In [ ]:
course[0:-12]

If the 1st argument is omitted, the slice starts at the beginning of the string; if the 2nd argument is omitted, the slice goes to the end of the string:

In [ ]:
course[-11:]

In [ ]:
course[:-12]

---

## Optional: Extended Slicing

Strings support extended slicing with a third step argument supplied in the operator `[]` as in `[i:j:k]`. 


`[i:j:k]` first extracts the element indexed by $i$,  and counts either forward or backward (depending on the sign of $k$) with step size $|k|$ to find the second element. This search repeats until it goes beyond the element indexed by $j-1$.

In [ ]:
course[-11:18:2]

In [ ]:
# Because the step size is negative, the character referred to by 
# the 1st argument should succeed that referred to by the 2nd 
course[17:0:-1]

In [ ]:
course[-13::-2]

In [ ]:
course[::-3]

---

## Strings are Immutable

Strings in Python is  <font color="salmon">***immutable***</font>. That is, the value of string objects cannot change:

In [ ]:
course[7] = 'p'  # Modifying characters isn't allowed.

TypeError: ignored

However, this does not mean that we can't change the value of a variable (more precisely, the object that a name refers to). We can assign the variable a new string:

In [ ]:
course = 'ISOM 3400'

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/course.png" width=700></img>

An object's **mutability** is determined by its type. Numbers and Booleans are also immutable (we will see some mutable data types later).

## String Formatting


`print() ` supports output formatting that is rudimentary at best.  In many cases, we'll need more precise control over the appearance of data destined for display. 

Python provides several ways to format output string data.

In [2]:
shares = 3.2; stock = 'Apple'; price = 443.05

In [ ]:
'purchase %d shares of %s at $ %.0f per share' % (shares, stock, price)

In [ ]:
'purchase {} shares of {} at $ {:.1f} per share'.format(shares, stock, price)

### "Old Style": The `%` Operator

Using `%`, known as the **string formatting**/**interpolation operator**, with a string lets us do simple positional formatting easily. 

It takes the  **conversion specifiers** (starting with `%`) on the left and the values on the right, producing a formatted string:

<img src="https://raw.githubusercontent.com/justinjiajia/img/master/python/interpolation.PNG" width=550/>




- In addition to representing the string interpolation operation, the `%` character also denotes the conversion specifiers, e.g., `%d`, `%s`, and `%.0f`, and the replacement fields in a format string.
- Each value is converted to a string value with the specified format and inserted into the format string in place of the corresponding replacement field (matched by position).

---

#### Optional: Conversion Specifiers

A conversion specifier contains 2 (% and a letter specifying conversion type; required) or more (optional) characters (allowing for more fine-grained control over how values are printed) to determine how values are formatted when they’re inserted:

The constructs of a conversion specifier is structured as follows:

`%[<flags>][<width>][.<precision>]<type>`


|Component|Meaning|Possible Values|
|:-- |:-- |:--|
|`%`|Introduces the conversion specifier|
|`<type>`|Indicates the type of conversion to be performed|`d` for decimal integers <br>`f` for floating point numbers <br>`e` for exponential numbers <br> `s` for strings
|`.<precision>`|Determines the length and precision of floating point, exponential,  <br>or string outputs|
|`<width>`|Specifies the minimum width of the formatted result|
|`<flags>`|Indicates one or more flags that exert finer control over formatting|`0` for padding of values<br>`-` for justification of values


<br>

<div class="alert alert-info">More details on format specifications can be found <a href="https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting">here</a>.</div>

In [ ]:
'purchase %d shares of %s at $ %f per share' % (shares, stock, price)  # The default precision of 'f' is 6.

In [ ]:
'purchase %06d shares of %.3s at $ %.0f per share' % (shares, stock, price)

In [ ]:
'purchase %-6d shares of %-10s at $ %.2e per share' % (shares, stock, price)

To insert a literal `%` character into the output, specify two consecutive `%` characters in the format string:

In [3]:
"%s's stock is trading %.0f%% off of %d-week highs" % ('Google', 0.1845 * 100, 52.5)

"Google's stock is trading 18% off of 52-week highs"

---

### "New Style": `str.format()`

 This "new style" string formatting gets rid of the `%` operator special syntax and makes the syntax for string formatting more regular. Formatting is now handled by calling `.format()` on a string object.
 
We can do simple positional formatting, just like we could with "old style" formatting, with replacement fields denoted by `{}`:

In [ ]:
'purchase {} shares of {} at $ {} per share'.format(shares, stock, price)

The syntax allows for rearranging the order of display (and interpolating values into multiple places) by referring to the positions of the arguments (base-0 indexing):

In [ ]:
'purchase {2} shares of {0} at $ {1} per share'.format('Google', 203.83, 11.4)

In [ ]:
'{1}    {0:.1f}    {1}    {0:.0f}'.format(price, stock)

We can also refer to the value substitutions by name and use them in any order:

In [ ]:
'purchase {shares} shares of {stock} at $ {price} per share'.format(stock='Google', price=203.83, shares=11.4)

---

#### Optional: Format Specifications

The new style of string formatting also allows us to specify how individual values are presented in the format string. The structure of a format specification is shown as follows:


` [[<fill>]<align>][<sign>][#][0][<width>][<grouping_option>][.<precision>][<type>]`

```
fill            :  <any character>
align           :  "<" | ">" | "=" | "^"
sign            :  "+" | "-" | " "
width           :  digit+
grouping_option :  "_" | ","
precision       :  digit+
type            :  "b" | "c" | "d" | "e" | "E" | "f" | "F" | "g" | "G" | "n" | "o" | "s" | "x" | "X" | "%"
```


A format specficiation is introduced by a colon `:` that optionally follows the name or position of the argument to be assigned to the replacement field:

In [ ]:
'purchase {2:.0f} shares of {0:_^12} at $ {1:+} per share'.format('Google', 203.83, 11.4)

In [ ]:
"{:e<12}'s stock is trading {:.1%} off of {:.0f}-week highs".format('Google', 0.1845, 52.5)

<div class="alert alert-info">More details on the new-style string formatting syntax can be found <a href="https://docs.python.org/3/library/string.html#format-string-syntax">here</a>.</div>

The eligible presentation types are dependent on the type of the value to format. Contrary to the old stype of string formatting, there's no conversion from one type to another:

In [ ]:
"{:e<12}'s stock is trading {:s} off of {:d}-week highs".format('Google', 0.1845, 52.5)

If we want to present a floating point number as an integer,   `int()` should be used to convert the floating point number to an integer before formatting.

---
# Methods

A method is an <font color="salmon">***object-oriented***</font> programming term, and refers to a function that is attached to and act upon a specific object (thereby considered an **attribute** of the object).

Like functions, methods are triggered with a call expression. 

A method call requires the **attribute reference** notation, i.e., a dot (`.`) between the invocation target and the method name:

In [4]:
course = 'Python Programming'

In [ ]:
course.lower()  # produce a new string

In [ ]:
(12.4).is_integer()     # E.g., 12.3 is not

Again, typing a method's name without adding `()` echos the string representation of the method:

In [6]:
course.lower


 
 
 As a rule of thumb, Python's toolset is  <font color="salmon">***layered***</font>:

- Generic operations that span multiple types show up as built-in functions or expressions (e.g., `len(x)`,  `x[0]`);

- Type-specific operations are implemented as method calls.

---

## Examples of Built-in String Methods

Here present some commonly used string methods in Python:
- `str.find(sub[, start[, end]])` searches the target string for a given substring and returns index of the first occurrence of `sub` in `str` (at or after index `start` and before index `end`):

In [33]:
'ISOM 3400' * 2

'ISOM 3400ISOM 3400'

In [34]:
('ISOM 3400' * 2).find('ISOM', 3)

9

In [35]:
('ISOM 3400' * 2).find('ISOM', 0, 3)

-1

- `str.count(sub[, start[, end]])` returns the total number of ***non-overlapping*** occurrences of `sub` in `str`:

In [ ]:
('ISOM 3400' * 2).count('ISOM', 2)

In [ ]:
'abababa'.count('aba')

---

## Getting Help on Methods

We can use the built-in function `dir(object)` to retrieve a list of all the attributes (including methods, which are **function attributes**) available for any object passed to it:

In [ ]:
dir(course)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

To learn about each method, we can pass them to the `help()` function:

In [ ]:
help(course.split)

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

---

## Explicit Type Conversion

Built-in functions like `str()`,  `int()`, `bool()`, and `float()` will try to convert anything to their respective types:

In [ ]:
int(5.834)

In [ ]:
int('1024')

In [ ]:
int("3") + 4

In [ ]:
'3.' + str(4)

In [ ]:
float('3.%d' % 4)

In [ ]:
int(float("3.4"))

In [ ]:
bool(0)

In [ ]:
bool(3.4)

In [ ]:
bool("")           # An empty string is falsy

In [ ]:
bool("False")      # A non-empty string counts as True

In [ ]:
int('I have $3.8 in my pocket')  # nonsensical conversion

ValueError: ignored

---

# Appendix: Operator Precedence

Python evaluates expressions from left to right. The following table summarizes the **operator precedence** for all the operators we have seen so far, from highest precedence to lowest precedence:



|Operator|Meaning|
|:-- |:-- |
|`()`|Grouping|
|`x[i], x[i:j:k], x(...), x.attr`|Indexing, slicing, call, attribute reference|
|`**`|Exponentiation|
|`+x, -x`|identity, negatition|
|`*, /, //, %`|Multiplication (repetition), division, integer division, remainder (format)|
|`+, -`|Addition (concatenation), substraction|
|`<, <=, >, >=, ==, !=, in, not in, is, is not`|Comparisons, including membership tests and identity tests|
|`not`|Logical negation|
|`and`|Logical AND|
|`or`|Logical OR|